.form-wrapper-container {
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  height: 75%;
  padding: 2%;
  background-color: white;
}

.form-wrapper-container .left {
  padding: 0;
  margin: auto;
  width: 70%;
  height: 100%;
  float: left;
}

.left {
  background: url(new-illustration-style--exploration.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-wrapper-container .left h1 {
  padding-top: 40px;
  padding-left: 18px;
}

.form-wrapper-container .right {
  /* padding-left: 0px; */
  margin: auto;
  width: 30%;
  height: 100%;
  float: right;
}

.form-body {
  position: relative;
  height: 60%;
  width: 80%;
  top: 50%;
  transform: translate(0%, -50%);
  margin: auto;
}

.register-form-body {
  height: 70%;
}

.form-header {
  /* position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%); */
  align-content: center;
  position: relative;
  margin: 0 40px;
}

.form-header h2 {
  margin: auto;
  text-align: center;
}

.form-input {
  position: absolute;
  margin: 0 auto;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-input-textfield {
  position: relative;
  display: block;
  width: 100%;
  /* margin-bottom: 10px !important; */
  margin: 10px auto !important;
}

.form-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
}

.bottom-left-button {
  position: relative !important;
  text-transform: none !important;
  left: 0;
  margin-left: 20px !important;
}

.bottom-right-button {
  position: absolute !important;
  right: 0;
  margin-right: 20px !important;
}
