.user-page-wrapper {
  border: 4px solid black;
  background: url(new-illustration-style--exploration.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* display: block; */
  /* position: absolute; */
  padding: 20px;
}
